.main {
      display: flex;
}

.sidebar {
      background-color: #e1e1e1;
      padding: 20px;
      text-align: center;
      font-size: 22px;
}

.side-link {
      font-size: 20px;
      color: #333;
      margin-top: 20px;
}

.side-link:hover{
      color: teal;
}

.active {
      color: teal;
}

.main-body {
      margin-bottom: 212px;
      /* background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.9)), url("../assets/web.png");
      background-position: center;
      background-repeat: no-repeat; */
}

/* .form {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
} */

.input{
      width: 550px;
      max-width: 100%;
      margin: 0 auto;
      padding: 20px;
      border-radius: 5px;
      border: 1px solid lightgray;
      margin-bottom: 20px;
      display: block;
}

.button-area {
      width: 100%;
      text-align: center;
}

.quote-btn {
      background-color: teal;
      color: white;
      padding: 15px 40px;
      width: 550px;
      max-width: 100%;
      margin: 0 auto;
      font-size: 20px;
      text-transform: uppercase;
}

.home {
      max-height: 600px;
      overflow-y: scroll;
}