<!-- HEADER -->
<app-header></app-header>

<!-- MAIN -->
<div class="row main">
  <!-- Sidebar -->
  <div class="sidebar col-lg-2 col-md-2 col-sm-12 py-5">
    <nav>
      <a
        href="#"
        class="nav-link side-link"
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active"
      >
        {{ link.title }}
      </a>
    </nav>
  </div>

  <!-- Main body / create quote -->
  <div class="main-body col-lg-10 col-md-10 col-sm-12 pt-5">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
      <!-- Quote Form -->
      <!-- <div class="col-lg-6 col-md-8 col-sm-12 mx-auto"></div> -->
      <app-quote-form></app-quote-form>

      <!-- Quotes Display -->
      <div class="home col-lg-6 col-md-8 col-sm-12 mx-auto">
        <h2 class="mb-5">Our Favorite Quotes</h2>
        <app-quote></app-quote>
      </div>
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
