<!-- HEADER -->
<app-header></app-header>

<!-- MAIN -->
<div class="row main">
  <!-- Sidebar -->
  <div class="sidebar col-lg-2 col-md-2 col-sm-12 py-5">
    <nav>
      <a
        href="#"
        class="nav-link side-link"
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active"
      >
        {{ link.title }}
      </a>
    </nav>
  </div>

  <!-- Main body / create quote -->
  <div class="main-body col-lg-10 col-md-10 col-sm-12 py-5">
    <h2 class="create-app-title text-center">Create a Quote</h2>

    <!-- Quote Form -->
    <form action="" class="form" style="max-width: 650px">
      <textarea
        class="form-control input shadow"
        id="validationTextarea"
        placeholder="Enter quote here..."
        required
      ></textarea>
      <input
        type="text"
        class="form-control input shadow"
        placeholder="Enter author name here..."
      />
      <input type="date" class="form-control input shadow" />
      <div>
        <button class="btn quote-btn">Add Quote</button>
      </div>
    </form>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
