<!-- HEADER -->
<app-header></app-header>

<!-- MAIN -->
<div class="row main">
  <!-- Sidebar -->
  <div class="sidebar col-lg-2 col-md-2 col-sm-12 py-5">
    <nav>
      <a
        href="#"
        class="nav-link side-link"
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active"
      >
        {{ link.title }}
      </a>
    </nav>
  </div>

  <!-- Main body / create quote -->
  <div class="main-body col-lg-10 col-md-10 col-sm-12 pt-5">
    <app-quote></app-quote>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
