<div class="container-fluid d-flex flex-wrap justify-content-between">
  <!-- Quote Form -->
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

  <!-- Quotes Display -->
  <div class="home col-lg-6 col-md-8 col-sm-12 mx-auto">
    <h2 class="mb-5">Our Favorite Quotes</h2>
    <div class="fluid-container">
      <div
        *ngFor="let quote of quotes; let i = index"
        class="text-center q-border mr-4 my-3 shadow favorite"
      >
        <div class="blockquote">
          <p>{{ quote.quote }}</p>
        </div>
        <!-- Button to toggle view more details -->
        <button (click)="showQuote(i)" class="btn btn-success">
          View Details
        </button>
        <div *ngIf="quote.showQuote">
          <app-quote-detail
            [quote]="quote"
            (isComplete)="deleteQuote($event, i)"
          ></app-quote-detail>
        </div>
      </div>
    </div>
  </div>
</div>
