<figure
  *ngFor="let quote of quotes; let i = index"
  class="text-center q-border mr-4 shadow favorite"
>
  <blockquote class="blockquote">
    <p>{{ quote.description }}</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Author <cite title="Source Title"> {{ quote.author }}</cite>
  </figcaption>
  <figcaption class="blockquote-footer">
    Posted by: <cite title="Source Title">{{ quote.name }}</cite>
  </figcaption>
  <div class="row quote-row">
    <div class="rating">
      <fa-icon [icon]="faThumbsUp"></fa-icon><span class="count-up">100</span> |
      <fa-icon [icon]="faThumbsDown"></fa-icon><span class="count-up">100</span>
    </div>
    <div class="date">
      <p>Created: 10 days ago</p>
    </div>
  </div>
</figure>
