<form
  (ngSubmit)="submitQuote()"
  #quoteForm="ngForm"
  class="form"
  style="max-width: 650px"
>
  <h2 class="create-app-title mb-3">Create a Quote</h2>
  <input
    type="text"
    class="form-control input shadow"
    id="name"
    [(ngModel)]="newQuote.name"
    name="name"
    #name="ngModel"
    placeholder="Enter your name here..."
    required
  />
  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
    <p>Name is required</p>
  </div>
  <textarea
    class="form-control input shadow"
    id="quote"
    [(ngModel)]="newQuote.quote"
    name="quote"
    #quote="ngModel"
    placeholder="Enter quote here..."
    required
  ></textarea>
  <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
    <p>Quote Description is required</p>
  </div>
  <input
    type="text"
    class="form-control input shadow"
    id="author"
    [(ngModel)]="newQuote.author"
    name="author"
    #author="ngModel"
    placeholder="Enter author name here..."
  />
  <input
    type="date"
    class="form-control input shadow"
    id="complete"
    [(ngModel)]="newQuote.postedDate"
    name="postedDate"
    #postedDate="ngModel"
  />
  <div class="button-area">
    <button type="submit" class="btn quote-btn">Add Quote</button>
  </div>
</form>
