<!-- <p>quote-form works!</p> -->

<form class="form px-3 col-lg-4 col-md-8 col-sm-12" style="max-width: 650px">
  <h2 class="create-app-title mb-3">Create a Quote</h2>
  <input
    type="text"
    class="form-control input shadow"
    placeholder="Enter your name here..."
    required
  />
  <textarea
    class="form-control input shadow"
    id="validationTextarea"
    placeholder="Enter quote here..."
    required
  ></textarea>
  <input
    type="text"
    class="form-control input shadow"
    placeholder="Enter author name here..."
  />
  <input type="date" class="form-control input shadow" />
  <div class="button-area">
    <button class="btn quote-btn">Add Quote</button>
  </div>
</form>
